<style>
.bold{font-weight: bold;}
.no_margin{margin: 0px;}
.no_padding{padding: 0px;}
p style="font-size:100px"
</style>

<body>

<h1> Homepage </h1>

{% if request.user.is_authenticated %}
<h1> Welcome {{ request.user }} </h1>
<a href="{% url 'logout' %}?next=/home/">Logout</a>

{% else %}
<h1> Please LogIn </h1>
<form method = 'POST' action = '{% url "login" %}'>{% csrf_token %}           
              <input type= 'text'  name = 'username' placeholder = 'Username' />
              <input type= 'password' name = 'password' placeholder = 'Password' />
              <button type= 'submit' >Login</button>
</form>
{% endif %}







<form method = 'POST' action=''>{% csrf_token %}
     {{ form.as_p }}
<input type='submit' name='button1' value='save'/>
</form>  

{% for blog in all_objects %}
  <div style="margin-bottom:40px;">
      <h3 class="no_margin no_padding">Title: {{blog.title}}</h3>
      <ul>
        <li>context: {{blog.title}}</li>
        <li>date: {{blog.after}}</li>
      </ul>
  </div>
    
{% endfor %}

</body>
